/* "SpagettiCode" - Spaghetti woven by master coders, made of macarons and ribbons. +30HP to all. */
body {
  margin: 0;
  background-color: #222224;
  color: #eeeef2;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: "w95fa";
  font-size: 24px;
  font-weight: normal;
}

h2 {
  margin-top: 3px;
  margin-bottom: 16px;
}

a {
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  border-radius: 10px;
  max-width: 100%;
}

footer {
  text-align: center;
  color: #66666b;
  font-size: 12px;
  line-height: 1.75em;
  font-family: "SourceSerif";
  margin-top: 12px;
  margin-bottom: 12px;
}

.bCont {
  display: block;
  margin-inline: auto;
}

.bImg {
  display: block;
  margin-inline: auto;
  width: 576px;
  border-radius: 0;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.profile {
  display: block;
  margin: auto;
  margin-top: -64px;
  border-radius: 10px;
  width: 110px;
}

.profilePage {
  border-radius: 4px;
}

.header {
  margin: 16px;
  text-align: center;
  font-family: "w95fa";
  font-weight: normal;
  font-size: 32px;
}

.headerPage {
  position: absolute;
  text-decoration: none;
  color: inherit;
  top: 36px;
  margin-left: 12px;
  font-family: "w95fa";
  font-size: 32px;
}

.header1 {
  font-size: 30px;
}

.topPage {
  margin: 24px;
}

.social {
  padding: 6px 16px 14px 16px;
  display: flex;
  justify-content: center;
}

.icon {
  color: #eeeef2;
  width: 32px;
  height: 32px;
  stroke-width: 1.75;
  margin-right: 6px;
}

.icon:active {
  color: #dddde2;
}

.icon-tabler-brand-x,
.icon-tabler-brand-youtube {
  margin-right: 7.5px;
}

.icon-tabler-brand-youtube {
  margin-right: 4px;
}

.icon-tabler-brand-tumblr {
  margin-left: -8.4px;
}

.icon-tabler-brand-bluesky {
  margin-left: -3.5px;
}

.icon-tabler-brand-pinterest {
  margin-right: 3.2px;
}

.about {
  font-family: "SourceSerif";
  text-align: center;
  font-size: 16px;
  margin: 16px 16px 10px 16px;
}

.lCont {
  display: flex;
  justify-content: center;
  align-content: center;
}

.list {
  /* background-color: #292929; */
  font-family: "w95fa";
  padding: 8px 20px 16px 20px;
  margin-bottom: -16px;
  margin-inline: auto;
}

.content {
  font-family: "SourceSerif";
  font-size: 14px;
  background-color: #34343b;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 8px;
}

.content:hover {
  /* background-color: #484848; */
  transition-duration: 0.2s;
}

.content:active {
  background-color: #27272a;
  transform: translateY(3px);
  transition-duration: 0.2s;
}

.contentLink {
  color: inherit;
  text-decoration: none;
}

.content,
.cover {
  display: block;
  height: auto;
}

.cover {
  margin-bottom: 16px;
}

.footer {
  color: inherit;
  text-decoration: underline inherit;
}

.titlePage {
  margin: 24px 0px -8px;
  font-size: 32px;
}

.aboutPage {
  font-family: SourceSerif;
  margin: 24px 0px;
}

.coverPage {
  margin-left: auto;
}

.margin {
  margin-inline: 24px;
}

.pageContainer {
  margin: 24px 24px 0px 24px;
}

.descPage {
  font-family: SourceSerif;
  font-size: 14px;
}

.breadcrumb {
  font-size: 16px;
  background-color: #34343b;
  border-radius: 6px;
  padding: 10px 12px;
  margin-left: -60px;
  text-decoration: none;
  font-family: "w95fa";
}

.breadcrumb:hover {
  transition-duration: 0.2s;
}

.breadcrumb:active {
  background-color: #28282d;
  transform: translateY(3px);
  transition-duration: 0.2s;
}

.downloadButton {
  display: inline-block;
  background-color: rgba(68, 68, 72, 0.75);
  font-family: "w95fa";
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  border-radius: 6px;
  padding: 12px 60px;
  border: 3px solid #222224;
  margin-bottom: 16px;
}

.downloadButton:hover {
  transition-duration: 0.2s;
  background-color: rgba(71, 71, 75, 1);
  border: 3px solid #ccc;
}

.downloadButton:active {
  background-color: #27272a;
  border: 3px solid #aaa;
  transform: translateY(3px);
  transition-duration: 0.2s;
}

lite-youtube {
  border-radius: 6px;
  margin-bottom: 12px;
  --lite-youtube-frame-shadow-visible: no;
}

@media screen and (min-width: 440px) {
  .profile {
    width: 120px;
  }
}

@media screen and (min-width: 576px) {
  h2 {
    font-size: 24px;
  }

  .bImg {
    border-radius: 0px 0px 4px 4px;
  }

  .topC {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerPCont {
    display: flex;
    justify-content: center;
  }

  .topPage {
    width: 576px;
  }

  .list {
    padding: 8px 0px 16px 0px;
    width: 576px;
  }

  .header1 {
    margin-inline: 10.5%;
  }

  .content {
    margin-inline: auto;
    margin-bottom: 12px;
    width: 75%;
    font-size: 14px;
  }

  .titlePage {
    font-size: 28px;
    margin-inline: 10.6%;
  }

  .aboutPage {
    margin-inline: 10.6%;
  }

  .profilePage {
    margin-left: 10.65%;
  }

  .pageContainer {
    margin-inline: auto;
    width: 452px;
  }

  lite-youtube {
    width: 90%;
    margin-inline: auto;
  }
}

@media screen and (min-width: 800px) {
  .list {
    padding: 8px 0px 16px;
  }

  .profilePage {
    margin-left: 11%;
  }

  .margin {
    margin-inline: 24.5%;
  }

  lite-youtube {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .bCont {
    width: 576px;
  }

  lite-youtube {
    width: 80%;
  }
}

@media screen and (min-width: 1600px) {
  lite-youtube {
    width: 70%;
  }
}