@font-face {
  font-family: "w95fa";
  font-display: swap;
  src: url("./fonts/W95FA.ttf") format("truetype"),
    url("./fonts/W95FA.otf") format("opentype"),
    url("./fonts/w95fa.woff") format("woff"),
    url("./fonts/w95fa.woff2") format("woff2");
}

@font-face {
  font-family: "SourceSerif";
  font-display: swap;
  src: url("./fonts/SourceSerif4_18pt-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #222224;
  color: #eeeef2;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  font-family: "w95fa";
  font-size: 24px;
  font-weight: normal;
}

h2 {
  margin-top: 3px;
  margin-bottom: 16px;
}

a {
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  border-radius: 10px;
  max-width: 100%;
}

footer {
  text-align: center;
  color: #444448;
  font-size: 12px;
  line-height: 1.75em;
  font-family: "SourceSerif";
  margin-top: 12px;
  margin-bottom: 12px;
}

iframe {
  border: none;
  border-radius: 4px;
  margin-bottom: 12px;
}

.profile {
  display: block;
  margin: auto;
  margin-top: 28px;
}

.profilePage {
  border-radius: 4px;
}

.header {
  margin: 16px;
  text-align: center;
  font-family: "w95fa";
  font-weight: normal;
  font-size: 32px;
}

.headerPage {
  position: absolute;
  text-decoration: none;
  color: inherit;
  top: 36px;
  margin-left: 12px;
  font-family: "w95fa";
  font-size: 32px;
}

.header1 {
  font-size: 30px;
}

.topPage {
  margin: 24px;
}

.social {
  padding: 6px 16px 14px 16px;
  display: flex;
  justify-content: center;
}

.icon {
  color: #eeeef2;
  width: 32px;
  height: 32px;
  stroke-width: 1.75;
  margin-right: 6px;
}

.icon:active {
  color: #dddde2;
}

.about {
  font-family: "SourceSerif";
  text-align: center;
  font-size: 16px;
  margin: 16px 16px 10px 16px;
}

.list {
  /* background-color: #292929; */
  font-family: "w95fa";
  padding: 8px 20px 16px 20px;
  margin-bottom: -16px;
}

.content {
  font-family: "SourceSerif";
  font-size: 14px;
  background-color: #34343b;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 8px;
}

.content:hover {
  /* background-color: #484848; */
  transition-duration: 0.2s;
}

.content:active {
  background-color: #27272a;
  transform: translateY(3px);
  transition-duration: 0.2s;
}

.contentLink {
  color: inherit;
  text-decoration: none;
}

.content,
.cover {
  display: block;
  height: auto;
}

.cover {
  margin-bottom: 16px;
}

.footer {
  color: inherit;
  text-decoration: underline inherit;
}

.titlePage {
  margin: 24px 24px -8px;
  font-size: 32px;
}

.aboutPage {
  font-family: SourceSerif;
  margin: 24px;
}

.coverPage {
  margin-left: auto;
}

.pageContainer {
  margin: 24px 24px 0px 24px;
}

.descPage {
  font-family: SourceSerif;
  font-size: 14px;
}

.breadcrumb {
  margin-inline: 24px;
  font-size: 16px;
  background-color: #34343b;
  border-radius: 6px;
  padding: 8px 10px;
  text-decoration: none;
  font-family: "w95fa";
}

.downloadButton {
  display: inline-block;
  background-color: #444448;
  font-family: "w95fa";
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  border-radius: 6px;
  padding: 12px 36px;
  margin-bottom: 16px;
}

.downloadButton:hover {
  transition-duration: 0.2s;
}

.downloadButton:active {
  background-color: #27272a;
  transform: translateY(3px);
  transition-duration: 0.2s;
}

@media screen and (min-width: 576px) {
  h2 {
    font-size: 24px;
  }
  
  .list {
    padding: 8px 32px 16px 32px;
  }

  .header1 {
    margin-inline: 12.5%;
  }

  .content {
    margin-inline: auto;
    margin-bottom: 12px;
    width: 75%;
    font-size: 14px;
  }

  .titlePage {
    font-size: 28px;
  }

  .aboutPage {
    margin-inline: 12.5%;
  }

  .profilePage {
    margin-inline: 12.5%;
  }

  .breadcrumb {
    margin-inline: 12.5%;
    font-size: 12px;
  }

  .pageContainer {
    margin-inline: auto;
    width: 75%;
  }
}
